.Main__main {
    list-style: none;
    margin-top: 50px;
    padding: 30px;
}

.layout-container {
    margin: 0 auto;
    max-width: 1060px;
    width: 100%;
    position: relative;
    font-family: var(--mainKorfont);

    h1 {
        font-weight: 600;
        font-size: 1.5rem;
        padding: 10px;
    }

    h2 {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
        border-bottom: 1px solid #808080;
        font-weight: 800;
    }

    span {
        position: absolute;
        right: 0;

        a {
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
            display: inline-block;
            color: #555555;
            transition: all 0.3s;

            &:hover {
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }
}

.book-list2 {
    display: flex;
    gap: 3%;
    margin-bottom: 100px;
    overflow: hidden;
    padding: 10px;
  }
  
  .book-item2 {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    cursor: pointer;
    width: 180px;
  
    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      transition: 0.3s;
    }
  
    h3 {
      display: flex;
      font-size: 16px;
      padding: 10px;
      height: 120px;
    }
  
    p {
      font-size: 14px;
      padding: 10px;
      color: #4E4E4E;
    }
  
    .price {
      font-size: 14px;
      color: #4E4E4E;
    } 
  }

.book-list2 {
    display: flex;
    gap: 3%;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    margin-bottom: 100px;
    overflow: hidden;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.book-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-bottom: 1rem;

    h3 {
        display: flex;
        justify-content: center;

    }

    .book2_bottom {


        h3 {
            font-size: 16px;
            padding: 10px;
            height: 100px;
            overflow: hidden;
        }

        p {
            font-size: 14px;
            color: #4E4E4E;
        }
    }

    .price {
        font-size: 14px;
        color: #4E4E4E;
    }

    .book-image2 {
        height: 200px;
        height: 233px;
        margin-bottom: 10px;
        margin: 0 auto;
        object-fit: cover;
        object-fit: contain;
        background-color: #ffffff;
        border: 1px solid #c9c9c9b2;
        border-radius: 10px;
    }

    .book-rank2 {
        position: absolute;
        top: 150px;
        left: 5px;
        color: rgb(16, 40, 255);
        font-size: 12px;
        padding: 5px;
        border-radius: 5px;
        font-size: 3rem;
        font-weight: 800;
        text-shadow:
          -1px -1px 0 rgb(255, 255, 255),
          1px -1px 0 rgb(255, 255, 255),
          -1px 1px 0 rgb(255, 255, 255),
          1px 1px 0 rgb(255, 255, 255);
      }
}



.BookDetails {
    .date {
        text-align: right;
        margin-bottom: 10px;
        padding: 10px;
        z-index: 1000;

        p {
            margin-bottom: 10px;
            padding-right: 10px;
            font-size: 12px;
        }

        svg {
            width: 34px;
            height: 34px;
        }

        input {
            padding: 10px;
            background-color: transparent;
            text-align: right;
            width: 140px;
            font-weight: 600;
        }
    }

    .date2 {
        display: flex;
        justify-content: right;

        .react-datepicker__month {
            z-index: 1000;
        }
    }
}
