.Main__Home h1 {
    font-size: 3rem;
    font-family: "BookkMyungjo-Bd";
    text-align: center;
    padding: 30px;
}

.Main__main {
    list-style: none;
    margin-top: 50px;
}

.layout-container {
    margin: 0 auto;
    width: 1200px;
    position: relative;
    justify-content: space-between;

    h1 {
        font-size: 3rem;
        font-family: "BookkMyungjo-Bd";
        text-align: center;
        padding: 30px;
    }

    h2 {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
    }

    span {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #4140402a;
        margin-bottom: 50px;

        a {
            margin-bottom: 78px;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 78px;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            padding: 10px 50px;
            border: 1px solid rgba(85, 85, 85, 0.541);
            color: #555555;
            transition: all 0.3s;

            &:hover {
                background-color: #ffd87e;
            }
        }
    }

}

.book-item2:hover,
.book-item2:focus-within {
    align-items: center;

    &:before {
        transform: translateY(-4%);
    }

    &:after {
        transform: translateY(-50%);
    }

    .content {
        transform: translateY(-200px);

        >*:not(.title) {
            opacity: 1;
            transform: translateY(0);
            transition-delay: calc(var(--d) / 8);
        }
    }
}

.book-list2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 10px;
}

.book-item2 {
    display: flex;
    flex-direction: column;
    width: 230px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        color: #ffffff;
    }

    h3 {
        font-size: 16px;
        padding: 10px;
        height: 100px;
        text-align: center;
    }

    p {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
    }

    .book-image2 {
        height: 200px;
        padding: 30px;
        margin-bottom: 10px;
        margin: 0 auto;
        object-fit: contain;
        background-color: #ffffff;
    }

    .price {
        font-size: 16px;
        color: #ffffff;
    }

}

.BookDetails {

    .date {
        text-align: right;
        margin-bottom: 10px;
        padding: 10px;
        z-index: 1000;

        p {
            margin-bottom: 10px;
            padding-right: 10px;
            font-size: 12px;
        }


        svg {
            width: 34px;
            height: 34px;
        }

        input {
            padding: 10px;
            background-color: transparent;
            text-align: right;
            width: 140px;
            font-weight: 600;

        }

    }

    .date2 {
        display: flex;
        justify-content: right;

        .react-datepicker__month {
            z-index: 1000;
        }
    }
}