.flickity-viewport {
  position: relative;
  height: 400px;
  overflow: visible;
  /* 변경된 높이 값 */
}


.flickity-slider {
  position: absolute;
  width: 100%;
  display: flex;
}

.book-slide {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

.book-cell {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 25px;
  border-radius: 20px;
  height: 400px;
}

.book-cell:nth-child(1) {
  background-color: #223257;
  background-image: url(../../img/banner.jpg);
}

.book-cell:nth-child(2) {
  background-color: #6A93FF;
  background-image: url(../../img/banner1.png);
}

.book-cell:nth-child(3) {
  background-color: #4578FF;
  background-image: url(../../img/banner2.png);
}



.book-photo {
  width: 200px;
  flex-shrink: 0;
  border-radius: 2px;
  transition: .3s ease;
  margin-left: 20px;
}

.book-photo:hover {
  transform: scale(1.03);
}

.book-content {
  width: 600px;
  padding: 30px;
  color: var(--black);
}

.book-title {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: var(--mainKorfont);

}

.book-author {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  font-family: var(--mainKorfont);
}

.book-desc {
  font-size: 1rem;
  width: 500px;
  color: #252525;
  font-family: var(--mainKorfont);
  margin-bottom: 20px;
}


.book-see {
  margin-top: 25px;
  text-align: center;
  background-color: #fff;
  color: var(--black);
  font-size: 16px;
  padding: 8px;
  width: 160px;
  border-radius: 20px;
  font-weight: 600;
  font-family: var(--mainKorfont);
}

.book-see:hover {
  background-color: #060036;
  color: var(--white);
}


.book-cell {
  margin: 0 10px;
}

@media(max-width: 500px) {
  .book-slide {
    width: 500px;
  }
}