/* src/Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* 헤더를 가장 위에 놓습니다. */
  display: flex;
  text-align: center;
  padding: 26px;
  height: 80px;
  background-color: #F3F1ED;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, padding 0.3s;
  justify-content: space-between;

}

.header.scrolled {
  background-color: rgba(243, 241, 237, 0.849);
  /* 스크롤 되면 헤더의 배경색을 변경합니다. */
}

// logo
.logo {
  margin-top: -8px;
  font-size: 1.5em;

}

// nav
.nav-links {
  list-style: none;
  display: flex;

  gap: 20px;
  font-size: 1rem;

  li {
    display: inline;

    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }
}

.button-grid {
  span {
    display: block;
    cursor: pointer;
    margin-bottom: 30px;
    width: 160px;

    &:hover {
      text-decoration: underline;
      text-underline-position: under;
    }
  }

  .button-grid__button {
    display: block;
    background-color: #F3F1ED;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;

    h2 {
      padding: 10px 20px;
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }

  .button-grid__button.visible {
    max-height: 500px;
    /* 충분히 큰 값으로 설정하여 숨겨진 콘텐츠가 보이도록 함 */
    transition: max-height 1s ease-in;
  }
}