#Main {
    margin-top: 88px;
    height: 100vh;
    border-bottom: 1px solid #4140402a;
    position: relative;

    .text {
        padding: 70px;
    }

    h2 {
        font-size: 4rem;
        font-weight: 800;
    }

    p {
        width: 100vw;
    }
}